html,
body,
div
{
	margin:0;
	padding:0;
	border:0;
}
html,
body
{
	position:relative;
	width:100vw;
	height:100vh;
}
.wraper
{
	text-align:center;
	background-color:#1c1c1c;
	text-align: top;
	font: 22pt sans-serif;
	height:3000px;
	width:2300px;
	padding:20px;
}
.favitop
{
	width:1800px;
	height:100px;
	margin-left:300px;
}
.favitop a
{
	height:100px;
	width:1800px;
}
.wraper a
{
	text-decoration:none;
}
.books
{
 float:left;
 margin-left:150px;
 position:relative;
}
.books img
{
	outline:10px solid #2b2424;
	width:142px;
	height:210px;
}
.ops
{
	position:absolute;
	top:0;
	left:0;
	width:163px;
	height:150px;
	background-color: rgba(0,0,0,.5);
	color:#fff;
	padding-top:80px;
	text-align:center;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	margin-top:19px;
	margin-left:30px;
	opacity:0;
	font:15pt sans-serif;
}
.ops p
{
	margin:0;
	top:0;
	left:0;
}
.books li
{
	list-style-type:none;
	display:block;
}
.books li:hover .ops
{
	opacity:1;
	cursor:pointer;
	display:inline;
	outline:3px solid yellow;
}
.menu
{
	background-color:#262525;
	float:left;
	height:1000px;
	width:300px;
	margin:0;
	top:0;
	left:0;
	font:17pt sans-serif;
}
.menu a
{
	color:white;
	text-decoration:none;
	float:left;
	width:200px;
	margin:auto;
	margin-top:20px;
}
.menu ul
{
	margin:0;
	left:0;
	top:0;
}
.menu li
{
	list-style-type:none;
	margin:0;
	left:0;
	top:0;
}
.menu a:hover
{
	background-color:#d69027;
	transition:1.5s all ease;
	
}
.menu a:hover
{
	transition:0.5s all ease;
	color:black;
}
.bookscontainer
{
	width:2000px;
}